/* Dropdown start */
/* Offcanvas start */
.header-offcanvas {
  background: -webkit-linear-gradient(left, #324a9f 20%, #2a336e 80%);
}

.header-offcanvas li a {
  color: #fff !important;
  transition: 0.1s linear;
}

.header-offcanvas li a:hover {
  color: #00a49f !important;
}

.header-offcanvas h6 {
  color: #fff !important;
  transition: 0.1s linear;
}

.header-offcanvas h6:hover {
  color: #00a49f !important;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z' /%3e%3c/svg%3e") !important;
}

.dropdown-list {
  padding-left: 0 !important;
}

.offcanvas-btn {
  padding: 0 !important;
  margin-top: -33px;
}

.offcanvas-btn span {
  color: #000;
  font-size: 14px;
}

/* Offcanvas end */
/* All Category dropdown start */
.category-menu {
  padding: 20px !important;
  display: flex;
  margin: 0.5rem 0 0 3rem !important;
  width: 180vh;
  left: -68% !important;
}

.mt-n1 {
  margin-top: -2rem !important;
  width: 25vh !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  border: 0 !important;
}

.main-heading {
  font-weight: 700 !important;
  font-size: 14px !important;
}

.main-heading:focus {
  border: 0 !important;
}

.popular-category-card {
  border: 1px solid #ecedee;
  transition: 0.2s linear !important;
}

.popular-category-card:hover .title-icon {
  background: #384bc3;
}

.popular-category-card:hover .title-icon {
  color: #fff;
}

.title-icon {
  background: #faf4f4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.2s linear !important;
}

.title-icon {
  font-size: 25px;
}

.title-content h6 {
  color: #b6b9be;
  font-weight: 500;
}

.title-content h5 {
  font-weight: 500;
  color: #4a4d54;
}

.sub-category {
  font-weight: 500;
  color: #000;
}

.seperator {
  font-weight: 500;
  color: #000;
}

.sub-category:hover {
  color: #384bc3;
}

.sub-category-divider {
  font-weight: 500;
}

.popular-category-card:hover {
  box-shadow: 0 5px 5px #dcdcdc;
}

.popular-category-content-height {
  height: 37vh;
}

/* All Category dropdown end */
/* Other Category Dropdown start */
.category_link {
  text-decoration: none;
  color: #000;
  transition: 0.2s linear;
  font-weight: 400;
  font-size: 14px;
}

.category_item {
  transition: 0.2s linear;
}

.category-icon {
  transition: 0.2s linear;
}

.category_item:hover {
  background: #324a9f !important;
  color: #fff !important;
}

.category_item:hover .category_link {
  color: #fff !important;
}

.category_item:hover .category-icon {
  color: #fff !important;
}

.category-icon {
  margin-top: 2px;
  font-weight: 400;
  font-size: 21px;
  color: #000 !important;
}

.menu-ca {
  width: 30vh !important;
}

.dropdown-toggle::after {
  content: "" !important;
  border: 0 !important;
}

/* Other Category Dropdown end */
/* Dropdown end */