/* Page start */
.page-wrapper {
    width: 74%;
}

.page-card {
    border: 1px solid #3A4FC4;
}

.place-to-find {
    font-size: 15px;
    color: #536467;
}

.chat-btn-main {
    color: #fff;
    border: 0;
    font-weight: 500;
    background: #002f34;
}

.featured-icon {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 70px;
}

.btn-active {
    box-shadow: 0 2px 10px #00000036;
    border-radius: 50% !important;
}

.arrow-active {
    color: #3A4FC4 !important;
    scale: 1.5;
}

.arrow-disabled {
    color: #000 !important;
    opacity: 100% !important;
    scale: 1.5;
}

.featured-icon h2 {
    margin-top: 5px;
    color: #daa520;
}

.icons {
    box-shadow: 0 2px 10px #00000036;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .3s linear;
}

.icons:hover {
    background: #3A4FC4;
}

.icons:hover .favorite-icon {
    color: #fff;
}

.favorite-icon {
    font-size: 1.5pc;
}

.call-btn-main {
    background: transparent;
    border: 2px solid;
}

.call-btn-main:hover {
    border-width: 3px;
}

.rotate {
    transform: rotate(180deg) !important;
}

.page-category h6 {
    font-weight: 500 !important;
    color: #92969f;
}

.price h3 {
    color: #3A4FC4;
}

.views {
    color: #92969f;
    font-size: 18px;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page-1-sect {
    width: 70% !important;
}

.page-2-sect {
    width: 30% !important;
}

.page-img {
    width: 40%;
}

.page-img img {
    height: 100%;
    width: 100%;
}

.card-divider {
    width: 1px;
    height: 25vh;
    background: #ededed;
    margin: auto 20px;
}

/* Page end */