/* Popular Category start */
.popular-category-card * {
  transition: 0.2s linear !important;
}

.popular-category-card {
  border: 1px solid #ecedee;
  transition: 0.2s linear !important;
}

.popular-category-card:hover .title-icon {
  background: #384bc3;
}

.popular-category-card:hover .title-icon {
  color: #fff;
}

.title-icon {
  background: #faf4f4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.title-icon {
  font-size: 25px;
}

.title-content h6 {
  color: #b6b9be;
  font-weight: 500;
}

.title-content h5 {
  font-weight: 500;
  color: #4a4d54;
}

.sub-category {
  font-weight: 500;
  color: #000;
}

.sub-category:hover {
  color: #384bc3;
}

.sub-category-divider {
  font-weight: 500;
}

.popular-category-card:hover {
  box-shadow: 0 5px 5px #dcdcdc;
}

.menu_link {
  color: #000;
  line-height: 2;
  position: relative;
  padding-right: 4px;
  text-decoration: none !important;
  font-size: 20px;
}

.popular-category-card:hover .arrow {
  transform: translateX(5px) translateY(-50%);
}

/* Popular Category end */
