/* Header start */

.navbar {
  background: -webkit-linear-gradient(left, #324a9f 20%, #2a336e 80%);
  font-family: "Tahoma", sans-serif;
}

.navbar-list {
  margin-left: 1rem;
}

.navbar-brand {
  font-size: 21px !important;
  color: #fff !important;
  font-weight: 500;
}

.dropdown-section {
  border: 0 !important;
  padding: 1.6rem 1rem !important;
  width: 155px;
  margin: auto;
}

.nav-dropdown-btn {
  transform: scale(1.5);
  color: #fff;
}

.dropdown-nav-btn {
  border: 1px solid #bdbebf !important;
  color: #fff;
  margin-top: -33px !important;
  width: 100% !important;
  height: 48px;
  padding: 13px 15px;
}

.dropdown-nav-btn:active {
  border: 1px solid #bdbebf !important;
  outline: none !important;
}

.dropdown-nav-btn:focus {
  border: 1px solid #bdbebf !important;
  outline: none !important;
}

.nav-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 0 6px 0 rgba(0, 0, 0, 0.12),
    0 6px 6px 0 rgba(0, 0, 0, 0.24);
  border: 0 !important;
}

.region-heading p {
  text-transform: uppercase;
  font-size: 12px !important;
  color: #ababab;
  font-weight: 400 !important;
}

.location-s-icon {
  fill: #5c7a7d;
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

.location-content p {
  font-size: 1.2rem;
  margin-top: 4px;
}

.location-item li {
  transition: 0.1s linear;
}

.location-item li:hover {
  background: #c8f8f6 !important;
}

.search-items {
  width: 70% !important;
}

.location-select h5 {
  font-size: 16px;
}
.location-select {
  padding: 0 10px !important;
  height: 44px !important;
}

.search-bar {
  width: 65% !important;
  margin: auto;
}

.search-bar input {
  height: 44px;
  border: 0;
  outline: 0;
  padding: 10px 10px;
  font-size: 16px;
  width: 100% !important;
}

.search-icon-div {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  background: #324a9f;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.location-drop-drown .dropdown-menu p {
  font-size: 16px;
  width: 200px !important;
  margin: 0 0 !important;
  font-family: "Roboto", sans-serif;
}
.location-drop-drown .dropdown-menu i {
  font-size: 18px;
}
.location-drop-drown .dropdown-menu .location-content {
  display: flex;
  align-items: center;
}
.location-drop-drown .dropdown-menu .location-s-icon {
  margin-right: 3px;
}

.search-icon {
  font-size: 20px;
  color: #fff;
}

.nav-icon {
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
}

.nav-icon:hover {
  color: #324a9f;
}

.navbar-toggler {
  border: 0 !important;
  outline: 0 !important;
}

.navbar-toggler-icon {
  background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}



/* Header end */
