/* Footer start */
.footer-section {
  background: -webkit-linear-gradient(left, #324a9f 20%, #2a336e 80%);
}

.footer-img img {
  width: 100%;
  max-width: 200px;
}

.footer-heading h6 {
  font-size: 16px;
}

.footer-link {
  padding: 3px 0 !important;
  font-size: 14px !important;
  letter-spacing: .5px;
}

.footer-row {
  color: #fff !important;
}

.footer-hover:hover {
  color: #c2c2c2 !important;
}

.form-group input {
  border: 1px solid #c2c2c2;
  outline: none;
  height: 55px;
  padding: 10px;
  border-radius: 5px;
}

.form-group button {
  position: absolute;
  top: 15%;
  right: 2%;
  background: transparent;
  border: 1px solid #3a4fc4 !important;
  transition: 0.2s linear;
}

.form-group button:hover {
  background: #f0f0f0;
  border: 1px solid transparent !important;
}

.social-icons {
  font-size: 25px !important;
  color: #fff;
}

.footer-content {
  font-size: 16px !important;
  font-weight: 400;
}

.footer-divider {
  opacity: 100%;
  color: #fff !important;
  margin: 1rem 37px 1rem 0 !important;
}

/* Copyright start */
.copyright-section {
  color: #fff;
}

.copyright-link:hover {
  color: #9b9ca0;
}

.copyright-link {
  color: #fff;
}

/* Copyright end */
/* Footer end */
