@media (max-width: 1600px) {
  .featured-ads {
    height: 550px !important;
  }

  .tabs {
    width: 600px !important;
  }
}

@media (max-width: 1400px) {
  .navbar-list {
    margin-left: 10px;
  }

  .category-menu {
      width: 1208px;
  }

  .sub-category {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .category-menu {
      width: 1150px;
  }
}

@media (max-width: 1200px) {
  .nav-btn {
    font-size: 12.5px !important;
    padding: 0.3rem 0.2rem !important;
  }

  .category-menu {
    display: none !important;
  }

  .dropdown-section {
    padding: 1.6rem 0.6rem !important;
  }

  .nav-icon i {
    font-size: 18px;
  }

  .featured-ads {
    height: 550px !important;
  }

  .wrapper {
    gap: 1rem;
  }

  .center-advertisement {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .nav-btn {
    font-size: 16px !important;
    padding: 0.5rem !important;
  }

  .dropdown-section {
    width: 100%;
    padding: 1.6rem 0 !important;
  }

  .search-bar {
    width: 100% !important;
  }

  .search-items {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .nav-menu {
    width: 100%;
  }

  .featured-ads {
    height: 860px !important;
  }

  .form-category {
    width: 100%;
  }

  .card-divider {
    height: 1px;
    width: 100%;
    background: #ededed;
    margin: 2% auto;
  }

  .success-content {
    padding-left: 0;
  }

  .page-img {
    width: 100%;
  }

  .second-menu {
    width: 100% !important;
  }

  .page-1-sect {
    width: 100% !important;
  }

  .page-2-sect {
    width: 100% !important;
  }

  .fav-and-watch {
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 3%;
  }

  .footer-row {
    gap: 0 !important;
  }

  .recent-img img {
    height: 100vh !important;
  }

  .sidebar {
    width: 100% !important;
    margin: auto !important;
  }

  .page-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .google-banner img {
    width: 100% !important;
    height: 100% !important;
  }

  .footer-divider {
    margin: 1rem 0 !important;
  }

  .advertise-form {
    width: 100% !important;
  }

  .number-card {
    width: 100%;
    top: 10%;
    left: 0;
  }

  .description-para {
    width: 100%;
  }

  .submit-btn {
    margin-top: 1rem;
  }

  .marquee {
    height: 100px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  .footer-list ul {
    justify-content: center;
    align-items: center;
  }

  .tabs {
    width: 100% !important;
  }

  .buy-tabs button {
    font-size: 14px !important;
    padding: 10px !important;
  }

  .infinte-carousel {
    display: block;
    width: 200%;
    height: 20px;
    position: absolute;
    overflow: hidden;
    animation: marquee 5s linear infinite;
  }

  .infinte-carousel img {
    width: 100%;
  }

  .marquee-heading h1 {
    font-size: 40px !important;
  }

  .featured-ads {
    height: 750px !important;
  }

  .seventh-section img {
    position: relative;
  }

  .input-1 input[type="checkbox"] {
    width: 100%;
    padding: 0 10px;
  }

  .input-2 input[type="checkbox"] {
    width: 100%;
    padding: 0 10px;
  }

  .input-3 input[type="checkbox"] {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .marquee-heading h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 550px) {
  .google-banner img {
    height: 100%;
  }
}

@media (max-width: 465px) {
  .fav-and-watch {
    position: absolute;
    z-index: 3;
    top: 5%;
    right: 5%;
  }

  .input-1 input[type="checkbox"] {
    font-size: 2px !important;
  }

  .input-2 input[type="checkbox"] {
    font-size: 2px !important;
  }

  .input-3 input[type="checkbox"] {
    font-size: 2px !important;
  }

  .recent-img img {
    height: 50vh !important;
  }

  .menu__link {
    font-size: 16px;
  }

  .featured-ads {
    height: 600px !important;
  }
}

@media (max-width: 416px) {
  .buy-tabs button {
    font-size: 12px !important;
  }

  .tabs {
    justify-content: center !important;
  }

  .input-1 {
    flex-direction: column;
  }

  .input-2 {
    flex-direction: column;
  }

  .input-3 {
    flex-direction: column;
  }

  .label {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .navbar-brand img {
    width: 200px !important;
  }

  .buisness-list li {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .featured-ads {
    height: 550px !important;
  }
}

@media (max-width: 335px) {
  .featured-ads {
    height: 500px !important;
  }
  .email-input {
    font-size: 14px;
  }}