.advertise-form {
  background: #fff;
  box-shadow:
    0 0 6px 0 rgba(0, 0, 0, 0.12),
    0 6px 6px 0 rgba(0, 0, 0, 0.24);
  width: 50%;
  margin: auto;
  text-align: center;
}

.advertise-group input {
  height: 45px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bdbebf;
  outline: 0;
  padding: 10px;
  font-size: 17px;
}

.advertise-group select {
  height: 45px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bdbebf;
  outline: 0;
  padding: 10px;
  font-size: 17px;
}

.advertise-group textarea {
  height: 200px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #bdbebf;
  outline: 0;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

.advertise-group button {
  width: 100%;
  border-radius: 5px;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 17px;
  resize: none;
  background: #324a9f;
  color: #fff;
}
